[includeIf "gitdir:~/developer/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/developer/work/"]
  path = ~/.gitconfig-work

[alias]

  br = git branch
  ca = git commit -am
  cb = git checkout -b
  cm = git commit -m
  co = git checkout
  ga = git add
  gf = git fetch
  gh = git history
  pl = git pull
  ps = git push
  st = git status

[core]

  autocrlf = input

[init]

  defaultBranch = main
  
  [push]
  
  autoSetupRemote = true